node_modules/
dist/
build/
.env
.env.local
__pycache__/
*.pyc
venv/
.venv/
*.egg-info/
.DS_Store
Thumbs.db
STYLE_GUIDE_1.md
страничка входа.html
CLAUDE.md
02_ТЗ_FRONTEND_1.md
03_ТЗ_BACKEND_1.md
WORKFLOW_TZ_MASTER.md
04_ТЗ_FRONTEND_2.md